:root {
    --height: calc(100vh - 50px);

    --color-brand: rgb(71, 119, 239);
    --color-brand-dark: rgb(61, 95, 209);
    --color-brand-very-dark: rgb(9, 63, 163);

    --color-brand-highlight: rgb(170, 207, 247);
    --color-brand-highlight-dark: rgb(130, 176, 224);
    --color-brand-highlight-very-dark: rgb(96, 141, 191);

    --color-turbo: rgb(255, 149, 0);

    --color-error-light: rgb(255, 110, 110);
    --color-error: rgb(250, 34, 63);
}

body {
    user-select: none;
}

button {
    padding: 10px;

    background-color: var(--color-brand);

    color: white;

    border: none;
    border-radius: 5px;

    transition: all 80ms;
}

button:hover {
    background-color: var(--color-brand-dark);
}

.tab {
    background-color: var(--color-brand-highlight);
    color: black;

    border-radius: 15px 15px 0 0;
}

.tab:hover {
    background-color: var(--color-brand-highlight-dark);
    color: white;

    border-radius: 15px 15px 0 0;
}

.tab.selected {
    background-color: var(--color-brand);
    color: white;
}


#error-message {
    position: fixed;

    bottom: 10px;
    left: 10px;

    padding: 20px 20px 0 20px;

    border-radius: 10px;

    background-color: var(--color-error);
}

.error-message-close {
    width: 20px;
    height: 20px;

    margin-left: 10px;
    padding: 0;

    font-weight: 800;

    background-color: transparent;
}

.error-message-close:hover {
    background-color: var(--color-error-light);
}

#error-message h2 {
    margin: 0 auto 0 0;
}


#preview {
    width: 100%;
    /* height: var(--height); */
    background-color: lightgray;
    overflow: hidden;
}
#container {
    display: flex;
}

#editor-container {
    border-right: 1px solid black;
    min-height: var(--height);
}

#editor,
#costume-editor,
#sound-editor {
    width: 100%;
    height: calc(var(--height) - 0px);
    /* border-right: 1px solid black; */
}

#costume-editor, #sound-editor {
    overflow: scroll;
}

.cm-editor {
    height: 100%;
}

.cm-completionInfo:not(:has(svg)) {
    display: none !important;
}

.cm-completionInfo {
    padding: 0px;
}

#sprites {
    display: flex;
    flex-wrap: wrap;
}

.sprite {
    display: flex;

    margin-right: 5px;
    margin-bottom: 5px;

    padding: 5px;

    background-color: var(--color-brand-highlight);
    border-radius: 5px;

    transition: all 80ms;
}

.sprite.selected {
    background-color: var(--color-brand);
    color: white;
}

.sprite p {
    margin: 0;
    padding: 2px;
}

.sprite:hover {
    background-color: var(--color-brand-highlight-dark);
    border-radius: 5px;
}

.sprite .delete {
    text-align: center;

    margin-right: 2px;
    width: 18px;

    border-radius: 5px;

    transition: all 80ms;
}

.sprite .delete:hover {
    background-color: var(--color-brand-highlight-very-dark);
    transition: all 80ms;
}

.sprite.selected:hover {
    background-color: var(--color-brand);
}

.sprite.selected .delete:hover {
    background-color: var(--color-brand-dark);
}

#buttons {
    margin-left: 15px;
    flex-shrink: 0;
}

#title {
    height: 40px;
    display: flex;

    margin-bottom: 5px;
    padding: 10px;

    background-color: var(--color-brand-very-dark);
}

#title img {
    height: 40px;
}

.btn:hover {
    filter: brightness(80%);
    transition: all 80ms;
}

a:has(button[id="documentation-button"]) {
    margin-left: auto;
}

#editor-loading-spinner {
    margin: 50px auto auto auto;
    color: navy;
    width: 50%;
}

.header-btn {
    margin-left: 5px;
}

a:has(button.header-btn.left) {
    margin-left: auto;
}

pre[class="blocks"] {
    margin: 2px;
    padding: 0px;
}

#container hr {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    border: 0;
}

#editor-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

#costume-list,
#costume-list td {
    border: 1px solid black;
}

#sound-list,
#sound-list td {
    border: 1px solid black;
}

.name-box-costume,
.name-box-sound {
    max-width: 50%;
    overflow: hidden;
    padding: 5px;
}

#sprite-table,
#sprite-table td {
    border: 1px solid black;
}

#sprite-container {
    /* margin: 5px; */
    overflow-y: scroll;
    height: calc(100vh - 40px - 360px - 20px); /*page height - menu bar - stage - margin*/
    border-top: 1px solid black;
    padding: 5px 0px 0px 5px;
    margin: 390px 0px 0px 0px;
}

#new-sprite-button {
    /* margin-top: 5px; */
    margin-bottom: 10px;
    /* position: fixed; */
}

#turbo-mode-text {
    font-size: 0.7rem;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color-turbo);
    white-space: nowrap;
    vertical-align: middle;
}

#turbo-mode-img {
    vertical-align: middle;
}

#turbo-mode-container {
    height: 75%;
    margin-bottom: 3px;
}

#clone-counter {
    font-size: small;
}

button.b::before {
    content: "+";
    margin-right: 2px;
}

#selected-sprite {
    margin-left: 5px;
    display: inline-block;
    white-space: pre;
    width: 0px;
}

body {
    overflow: hidden;
}

button.b.add {
    position: fixed;
    bottom: 5px;
    left: 5px;
}
